body{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3B4664;
}

main{
    display:grid;
    gap: 10px;
}

.title-box{
    display: flex;
    justify-content: space-between;
}

.title-text{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-transform: lowercase;
    color: #ffffff;
}

.display-box{
    background-color: #252d44;
    color: #fff;
    padding: 30px 15px;
    text-align: left;
    display: flex;
    justify-content: end;
    border-radius: 10px;
}

.display-box > p{
    padding: 0px;
    margin: 0;
}

.numpad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: #252D44;
    padding: 15px;
    border-radius: 10px;
}

.btn{
    font-size: 30px;
    font-weight: 600;
    padding: 5px 20px;
    border-color: transparent;
    border: 0;
    border-radius: 10px;
    background-color: #EAE3DB;
    transition-duration: 200ms;
    color: #070708bc;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 25px 20px -20px;
}

.btn:hover{
    transform: translateY(-10%);
}

.btn-b{
    grid-column: span 2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-text{
    text-transform: uppercase;
    font-size: 23.5px;
    color: #fff;
}

#reset, #delete{
    background-color: #647299;
    color: #fff;
}

#compute{
    background-color: #D13F30;
    color: #fff;
}

@media (max-width: 500px){
    .btn{
        padding: 5px;
    }
}